---
import CountWidget from "../widgets/CountWidget.astro";
import SumWidget from "../widgets/SumWidget.astro";
import Layout from "../components/Layout.astro";
export const prerender = false;
import { supabaseServer } from "../lib/supabaseServer";

const { data: propiedades, error } = await supabaseServer()
  .from('propiedades')
  .select('*');
---

<Layout title="Casa">
  <section class="widgets">
    <CountWidget propiedades={propiedades} tipo="inversion" label="Inversiones" />
    <CountWidget propiedades={propiedades} tipo="activo" label="Activos Sanyus" />
    <CountWidget propiedades={propiedades} tipo="inversion" estado="vendido" label="Inversiones vendidas" />
    <CountWidget propiedades={propiedades} tipo="inversion" estado="tanteo" label="Inversiones en tanteo" />
    <SumWidget propiedades={propiedades} tipo="inversion" campo="precio_venta" label="Total venta inversiones" />
    <SumWidget propiedades={propiedades} tipo="inversion" campo="precio_compra" label="Total compra inversiones" />
    <SumWidget propiedades={propiedades} tipo="activos" campo="precio_venta" label="Activos Sanyus Vendidos" />
    <SumWidget propiedades={propiedades} tipo="inversion" estado="vendido" campo="precio_venta" label="Venta de inversiones ya vendidas" />
  </section>
</Layout>
