---
import type { Tables } from "../../supabase/types.ts";

interface Props {
  framework: Tables<"frameworks">;
}

const { framework } = Astro.props;
---

<tr class="">
  <td class="">{framework.name}</td>
  <td>
    <img
      src={`/.netlify/images?url=/images/${framework.logo}`}
      class=""
      alt={framework.name}
    />
  </td>
  <td>{framework.likes} like{framework.likes === 1 ? "" : "s"}</td>
  <td><a href={`/frameworks/${framework.id}`} class="">Learn more &rarr;</a></td>
</tr>
