---
import Layout from "../../components/Layout.astro";
import AportacionesTotalsWidget from "../../widgets/AportacionesTotalsWidget.astro";
import { supabaseClient } from "../../lib/supabaseClient";
import { formatDateShort } from "../../lib/date";
import { formatEuro,toNum } from "../../lib/money";

const supabase = supabaseClient();

const { data: aportaciones, error } = await supabase
  .from("aportaciones")
  .select(`
	id,
	concepto,
	fecha,
	importe,
	modo_pago,
	autor,
	propiedad:propiedad_id ( id, titulo, slug )
  `)
  .order("fecha", { ascending: false });
---

<Layout title="Aportaciones">
  <main>
	<h1>Aportaciones</h1>
	<section class="widgets">
		<AportacionesTotalsWidget size="10" aportaciones={aportaciones ?? []} />
	</section>

	{error && <p>❌ Error cargando aportaciones</p>}

	{aportaciones && aportaciones.length === 0 && <p>No hay aportaciones todavía.</p>}

	<table>
	  {aportaciones?.map((a: any) => (
		<tr>
	  	<td>{formatEuro(Number(a.importe))}</td>
		  <td>{formatDateShort(a.fecha)}</td>
		 <td>
			 {a.propiedad && (
				 <>
				   <a href={`/propiedad/${a.propiedad.slug}`}>{a.propiedad.titulo}</a>
				 </>
			   )}</td>
	  	<td>{a.concepto}</td>
		 <td>{a.modo_pago}</td>
		 <td>{a.autor}</td>
		</tr>
	  ))}
	</table>
  </main>
</Layout>